<div class="modal" [ngClass]="isDialogOpen ? 'is-active' : null" [ngStyle]="{'z-index': 99999}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ isFound ? 'Julklappen är redan hittad' : 'Du hittade en julklapp!'}}</p>
        <button class="delete" aria-label="close" (click)="closeModal.emit()"></button>
      </header>
      <section class="modal-card-body">
        <ng-content></ng-content>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" *ngIf="!isFound" (click)="saveAndCloseDialog()">Claima julklappen!</button>
        <button class="button" (click)="closeDialog()" *ngIf="isFound">Stäng</button>
      </footer>
    </div>
  </div>